[Desktop Entry]
Encoding=UTF-8
Type=Service
Version=%VERSION%
Name=%PRGNAME%
Comment=This is a comment
Exec=/home/utente/Documenti/exec.sh
Icon=/home/utente/Immagine/icona.png
Terminal=false
Type=Application
Categories=Utility;Application;
